* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

header, main {
  height: 50%;
  padding-top: 40px;
}

main {
  background-color: gray;
  border-top: 5px solid black;
}

main .max-width-wrapper {
max-width: 500px;
margin: auto;
}

header .max-width-wrapper {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

.intro-chunk {
  width: 50%;
}

.card {
background-color: white;
padding: 0.1px 10px 10px;
}

.indented-heading {
  background-color: yellow;
  width: fit-content;
  margin-left: -20px;
  padding: 10px;
  border-bottom: 5px solid yellowgreen;
}

strong {
  color: green;
}